{% extends "EcoJobMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ path('captcha_layout_stylesheet_url') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Profil{% endblock %}

{% block content_title %}Profil {% endblock %}

{% block content_stitle %}Modification de mon profil {% endblock %}

{% block content %}
    {{parent()}}
    {% if is_granted('ROLE_CANDIDAT') %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="latest_news">
                        <div class="title7">Candidat side bar</div>
                        <ul>
                            {% if app.user.curriculum is not null %}
                            <li><a href="{{path('eco_job_candidat_gerercv')}}"> CV optimisé eco-job</a></li>
                            {% else %}
                            <li><a href="{{path('eco_job_candidat_cv_fill')}}"> Créer mon CV</a></li>                            
                            {% endif %}
                            <li><a href="{{path('eco_job_candidat_cv_lettres')}}"> CV en pièce jointe </a></li>  
                            <li><a href="{{path('eco_job_candidat_lettres')}}"> Lettre de motivation en pièce jointe </a></li>    <li><a href="{{path('eco_job_candidat_myoffres')}}"> Offres d'emploi sauvegardées ({{app.session.get('saved')}})</a></li>
                            <li><a href="{{path('eco_job_candidat_postuled_offres')}}"> Offres d'emploi postulés ({{app.session.get('postuled')}})</a></li>
                            <li><a href="{{path('eco_job_messagerie_inbox')}}">Messages({{app.session.get('unread')}})</a></li>
                            <li><a href="{{path('eco_job_candidat_param')}}"> Paramètre d'alerte mail</a></li>
                            <li><a href="{{path('fos_user_profile_edit')}}">Modifier mon email</a></li>
                            <li><a href="{{path('fos_user_change_password')}}">Modifier mon mot de passe</a></li>
                        </ul>
                    </div>
                </div>                
                <div class="col-sm-8">
                    <div class='title6'>Profi</div>
                            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>        
    {% elseif is_granted('ROLE_RECRUTEUR') %}
<div id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="latest_news row">
                        <ul>
                            <li><a href="{{path('eco_job_recruteur_offre_create')}}">Ajouter une offre d'emploi </a></li>
                            <li><a href="{{path('eco_job_recruteur_offre_list')}}"> Mes offres d'emploi ({{app.session.get('offres')}}) </a></li>
                            <li><a href="{{ path('eco_job_recruteur_candidatures_list') }}">Candidatures ({{app.session.get('candidatures')}})</a></li>
                            <li><a href="{{path('eco_job_messagerie_inbox')}}">Messages({{app.session.get('unread')}})</a></li>                            
                            <li><a href="{{path('fos_user_profile_edit')}}">Modifier mon email</a></li>
                            <li><a href="{{path('fos_user_change_password')}}">Modifier mon mot de passe</a></li>                                                    
                        </ul>
                    </div>
                    {% block offres %} {% endblock %}
                </div>                
                <div class="col-sm-8">
                    {% if app.request.hasPreviousSession %}
                       {% for flashMessage in app.session.flashBag.get('success') %}
                            <div class="alert alert-succes alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>{{ flashMessage }}</strong>
                            </div>
                       {% endfor %}
                    {% endif %}
                            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>        
    {% else %}
<div id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="latest_news row">
                        <ul>
                            <li><a href="{{path('eco_job_messagerie_inbox')}}">Messages({{app.session.get('unread')}})</a></li>                            
                            <li><a href="{{path('fos_user_profile_edit')}}">Modifier mon email</a></li>
                            <li><a href="{{path('fos_user_change_password')}}">Modifier mon mot de passe</a></li>                                                    
                        </ul>
                    </div>
                </div>                
                <div class="col-sm-8">
                    {% if app.request.hasPreviousSession %}
                       {% for flashMessage in app.session.flashBag.get('success') %}
                            <div class="alert alert-succes alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>{{ flashMessage }}</strong>
                            </div>
                       {% endfor %}
                    {% endif %}
                            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>                    
    {% endif %}
{% endblock content %}