{% extends "EcoJobRecruteurBundle::layout.html.twig"%}

{% block title %} Mes offres{% endblock %}

{% block content_title %} Recruteur {% endblock %}

{% block content_stitle %}Candidatures{% endblock %}

{% block scontent %}
    {{parent()}}
    <div class="latest_news row" style="padding: 5px;">
        <div class="col-md-6"><h4>Offres</h4></div>
        <div class="col-md-6"><h4>Candidatures</h4></div>
    </div>
    <div class="latest_news row" style="padding: 5px;">
        <div class="col-md-6 srollko list-group" id="offreList" style="height: 350px;">
        </div>
        <div class="col-md-6 srollko list-group" id="candidatureList" style="height: 350px;">
        </div>
    </div>
    <div id="user-id-hidden" style="visibility: hidden;" data-user-id="{{user_id}}"></div>
    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Suppression de la candidature</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer cette candidature?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger d-c">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cvModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">CV & Lettre de motivation</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/jquery.blockUI.js')}}"></script>
    <script src="{{asset('js/candidature.js')}}"></script>
{% endblock %}
