<div class="col-sm-12">
    <div class="title6">Résultats </div>   
    {% if cv is not empty %}
        {% for c in cv %}
            <div class="news1 cv" cvId="{{c.id}}">
                <div class="txt1">Ajouté le {{c.updatedAt | date('d-m-y')}}</div>
                <div class="txt2"><a href="{{path('eco_job_recruteur_banquecv_show',{'id': c.id})}}">{{c.nom}} {{c.prenom}}</a></div>
                <div class="txt3">{{c.about}}</div>
                <a href="#" cvId="{{ c.id }}" class="btn-default btn1 cv">Afficher</a>                
            </div>
        {% endfor %}                                               
    {% else %}
        aucun résultat 
    {% endif %}

</div>