{% extends "EcoJobRecruteurBundle::layout.html.twig"%}

{% block title %} Mes offres{% endblock %}

{% block content_title %} Recruteur {% endblock %}

{% block content_stitle %} Offres d'emploi {% endblock %}

{% block scontent %} 
    {{parent()}} 
    
    <div class="latest_news">
        <div class="title7" id="corps">Mes offres d'emploi</div>
        {% for offre in offres %}
            <div class="news1">
                <div class="txt1">Ajoutée le {{offre.createdAt | date('d-m-y')}}</div>
                {% if offre.validAt is not null %}
                    <div class="txt1">Validée par l'administrateur le {{offre.validAt | date('d-m-y')}}</div>
                {% endif %}
                <div class="txt2"><a href="#">{{offre.titre}}</a></div>
                <a href="#corps" onclick="showOffre({{offre.id}})" class="btn-default btn3">Afficher</a>
                <a href="{{ path('eco_job_recruteur_offre_edit',{'id': offre.id})}}" class="btn-default btn3">Modifier</a>                
                <a href="#" class="btn-default btn3 supprimer" offreid="{{offre.id}}">Supprimer</a>    
                {% if not offre.expired %}   
                    {% if not offre.suspendu %}
                        {% if not offre.valid %}                    
                            <div class="label label-warning"> Offre pas encore validée</div>     
                        {% else %}
                            {% set leftDays = date("now").diff( date("now") ).format('%a') %}     
                            {% set rest = offre.expireAt - leftDays %}
                            <div class="label label-success"> Offre déja validée</div>
                            <div class="label label-success"> Il reste {{rest}} jours avant expiration</div>
                            
                        {% endif %}
                    {% else %}
                        <div class="label label-warning"> Offre est suspendu </div>
                    {% endif %}    
                {% else %}
                    <div class="label label-warning"> Offre est éxpirer </div>
                {% endif%}    
                {% if not offre.modificationValided %} 
                    <div class="label label-warning">Modification de l'offre en cours de validation par l'administrateur.</div>                {% endif %}                
            </div>
        {% endfor %}       
    </div>

    <div style="z-index:2016;" class="modal fade " id="profilModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Alerte</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div style="z-index:2016;" class="modal fade " id="supModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Alerte</h4>
                </div>
                <div class="modal-body">
                    Valider la suppression?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger validSupprimer" >Supprimer</button>                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>            
{% endblock %}  
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        var current_offre = null;
            $(document).on('click', '.supprimer', function () {
                current_offre = $(this).attr('offreid');
                $("#supModal").modal('show');
            });  
            $(document).on('click', '.validSupprimer', function () {
                window.location.href = Routing.generate('eco_job_recruteur_offre_delete', {id: current_offre});
            });              
            function showOffre(id){
               $.ajax({
                    type: 'GET',
                    url: Routing.generate('eco_job_recruteur_offre_ajax', {id: id}),
                    timeout: 30000,
                    success: function (response) {
                        $('#profilModal .modal-body').children().remove();
                        $('#profilModal .modal-body').append(response.html);
                        $('#profilModal.modal-header h4').text("Offre n° " + id);
                        $('#profilModal').modal('show');
                    },
                    error: function () {
                        alert('La requête n\'a pas abouti');

                    }
                });  
            }        
    
    </script>
{% endblock %}    
