{% extends "EcoJobRecruteurBundle::layout.html.twig"%}

{% block title %} Mes offres{% endblock %}

{% block content_title %} Recruteur {% endblock %}

{% block content_stitle %} Offres d'emploi {% endblock %}

{% block scontent %}   
    <div class="latest_news">
        <div class="title7"> {{offre.titre}}</div>
        <div class="news1">
            <div class="txt1">12/4/2016 </div>
            <div class="txt2"><a href="#">{{offre.titre}}</a></div>
            <div class="txt3">{{offre.contenu}}</div>
            <a href="{{ path('eco_job_recruteur_offre_edit',{'id': offre.id})}}" class="btn-default btn3">Modifier</a>                
            <a href="{{ path('eco_job_recruteur_offre_delete',{'id': offre.id})}}" class="btn-default btn3">Supprimer</a>     
            {% if not offre.expired %}
                {% if not offre.suspendu %}
                    {% if not offre.valid %}
                        <div class="label label-warning"> Offre pas encore validée</div>     
                     {% else %}
                        <div class="label label-success"> Offre déja validée</div>
                    {% endif %}
                {% else %}
                     <div class="label label-warning"> Offre est suspendu </div>
                {% endif %}  
            {% else %}
                 <div class="label label-warning"> Offre est expirée</div>     
            {% endif %} 
            {% if not offre.modificationValided %} 
                <div class="label label-warning">Modification de l'offre en cours de validation par l'administrateur.</div>
            {% endif %}
        </div>

    </div>

    {{parent()}} 

{% endblock %}  
