{% extends "EcoJobRecruteurBundle::layout.html.twig"%}

{% block title %} Mes offres{% endblock %}

{% block content_title %} Recruteur {% endblock %}

{% block content_stitle %} Offres d'emploi {% endblock %}

{% block scontent %}   
    <div class="latest_news">
        <div class="news1">
            <blockquote class="blockquote1">

                <div class="title8">{{offre.titre}}</div>

                <p>
                    {{offre.description}}
                </p>

                <ul class="ul1">
                    <li>Ajouté le {{offre.createdAt | date('d-m-y')}}</li> 
                    <li>Lieu: {{offre.localisation}}</li>  
                    <li>Secteur d'activité: {{offre.categorie.designation}}</li>                         
                    <li>Société qui recrute: {{offre.societe}}</li>
                    <li>Description du société:<br/> {{offre.descSociete}}</li>
                    <li>Durée: {{offre.duree}}</li>            
                    <li>Pré-requis: <br/>  {{offre.prerequis}}</li>
                    <li>Contrat: {{offre.contrat.libelle}}</li>
                </ul>

                <br>

            </blockquote>
            <a href="{{ path('eco_job_recruteur_offre_edit',{'id': offre.id})}}" class="btn-default btn3">Modifier</a>                
            <a href="{{ path('eco_job_recruteur_offre_delete',{'id': offre.id})}}" class="btn-default btn3">Supprimer</a>     
            {% if not offre.expired %}
                {% if not offre.suspendu %}
                    {% if not offre.valid %}
                        <div class="label label-warning"> Offre pas encore validée</div>     
                    {% else %}
                        <div class="label label-success"> Offre déja validée</div>
                    {% endif %}
                {% else %}
                    <div class="label label-warning"> Offre est suspendu </div>
                {% endif %}  
            {% else %}
                <div class="label label-warning"> Offre est expirée</div>     
            {% endif %} 
            {% if not offre.modificationValided %} 
                <div class="label label-warning">Modification de l'offre en cours de validation par l'administrateur.</div>
            {% endif %}
        </div>

    </div>

    {{parent()}} 

{% endblock %}  
