{% extends '::base.html.twig' %}

{% block title %} Offres d'emploi {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
{% endblock %}

{% block content_title %} Détails de l'offre {% endblock %}

{% block content_stitle %} Offres d'emploi {% endblock %}

{% block content %}
    {{ parent() }}
    {% if offre is defined %}
    <div class="latest_news" style="width:800px; margin:0 auto;">
        <div class="title7">Offre d'emploi numero {{ offre.id }}</div>
        <blockquote class="blockquote1">

          <div class="title8">{{offre.titre}}</div>

          <p>
              {{offre.description}}
          </p>

          <ul class="ul1">
            <li>Ajouté le {{offre.createdAt | date('d-m-y')}}</li> 
            <li>Lieu: {{offre.localisation}}</li>  
            <li>Secteur d'activité: {{offre.categorie.designation}}</li>                         
            <li>Société qui recrute: {{offre.societe}}</li>
            <li>Description du société:<br/> {{offre.descSociete}}</li>
            <li>Durée: {{offre.duree}}</li>            
            <li>Pré-requis: <br/>  {{offre.prerequis}}</li>
            <li>Contrat: {{offre.contrat.libelle}}</li>
          </ul>

          <br>

        </blockquote>
        <div class="button-group">
            {% if not app.user %}
                <a href="#" class="btn-default btn1" data-toggle="modal" data-target="#globModal">Save</a>
                <a href="#" class="btn-default btn1" data-toggle="modal" data-target="#globModal">Postuler</a>
                <a class="btn-default btn1" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                   aria-controls="collapseExample">
                    Share
                </a>
            {% else %}
                {% if is_granted('ROLE_CANDIDAT') %}

                    {% if saved %}
                        <a href="#" class="btn-default btn-warning">Déja sauvegardée</a>
                    {% else %}
                        <a href="{{ path('eco_job_candidat_offre_save',{'id': offre.id})}}" class="btn-default btn1">Save</a>
                    {% endif %}
                    {% if postuled %}
                        <a href="#" class="btn-default btn-warning">Déja postulé</a>
                    {% else %}
                        <button class="btn-default btn1" id="postulerBtn" type="button" data-toggle="modal" data-target="#m-m-u" >Postuler</button>
                    {% endif %}
                {% endif %}
                <a class="btn-default btn1" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                   aria-controls="collapseExample">
                    Share
                </a>
            {% endif %}

            <div class="cd-cart-container empty">
                <a href="#0" class="cd-cart-trigger">
                    Cart
                    <ul class="count"> <!-- cart items count -->
                        <li>0</li>
                        <li>0</li>
                    </ul> <!-- .count -->
                </a>

                <div class="cd-cart">
                    <div class="wrapper">
                    </div>
                </div> <!-- .cd-cart -->
            </div>
        </div>


        <div class="collapse" id="collapseExample">
            <div class="card card-block">
                <ul class="social clearfix">
                    <li><a href="" id="fb-share"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a class="twitter popup" href="http://twitter.com/share"><i class="fa fa-twitter"></i></a></li>
                    <li>
                        <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                        <script type="IN/Share"
                                data-url="ecojob.fr/valfid/developpement/web/search/offre/{{ offre.id }}"
                                data-counter="right"></script>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="m-m-u" class="modal fade" data-backdrop="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form action="{{ path('eco_job_candidat_offre_postuler',{ 'id' : offre.id }) }}" id="candidatureForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Posulter pour l'offre : {{ offre.titre }}</h4>
                    </div>
                    <div class="modal-body text-center p-lg">
                        <div class="form-group row">
                            <label for="libelle" class="col-sm-2 form-control-label">Qu'est-ce qui vous motive?</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" name="motivation" id="" cols="30" rows="15"
                                          required></textarea>
                            </div>
                        </div>
                        <div class="alert" id="responseStore">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn success p-x-md">Envoyer ma candidature</button>
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="z-index:2016;" class="modal fade " id="globModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Alerte</h4>
                </div>
                <div class="modal-body">
                    Vous devez vous avoir un compte sur eco-job avant de pouvoir sauvegarder ou postuler à une offre
                    d'emploi.
                    Veuillez vous inscrire en cliquant <a href="{{ path('fos_user_registration_register') }}"
                                                          class="btn-default">ici</a>
                    ou vous connecter <a href="{{ path('fos_user_security_login') }}" class="btn-default">ici</a>
                </div>
            </div>
        </div>
    </div>
                    {% endif %}
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/jquery.blockUI.js') }}"></script>
    <script src="{{ asset('js/integralite_offre.js') }}"></script>
    <!-- animation de l'image -->
    <script src="{{ asset('js/addToCart.js') }}"></script>
{% endblock %}
