{% extends '::base.html.twig' %}

{% block title %} Offres d'emploi {% endblock %}

{% block content_title %} Recherche {% endblock %}

{% block content_stitle %} Offres d'emploi {% endblock %}

{% block scontent %}
    <div class="latest_news">
        <div class="title7">Offre numero {{offre.id}}</div>
        <div class="news1">
            {% if offre.logo is not null %}           
                <img class='img-responsive pull-left' height='150px' id="pic" width='150px' src='{{asset('images/users/'~offre.logo.imageName~'')}}'/>                        
            {% else %}
                Pas de logo
            {% endif %}            
            <div class="txt1">Ajoutée le {{offre.createdAt | date('d-m-y')}}</div>

            <div class="txt2"><a href="#">{{offre.titre}}</a></div>
            <div class="txt3">{{offre.description}}</div>  
            {% if app.user %}
                <a href="{{ path('eco_job_candidat_offre_delete',{'id': offre.id})}}" class="btn-default btn3">Supprimer</a>                    
            {% endif %}
        </div>

    </div>

    {{parent()}}

{% endblock %}  
