<div class="col-sm-8">
    <div class="title6">Résultats </div>   
    <div class="count">
        Total: {{ offres.getTotalItemCount }}
    </div>    
    {% if offres is not empty %}        
        {% for offre in offres %}
            <div class="news1 offre" offreId="{{offre.id}}">
                <div class="txt1">Ajoutée le {{offre.createdAt | date('d-m-y')}}</div>
                <div class="txt2"><a href="#details">{{offre.titre}}</a></div>
                <div class="txt3">{{offre.localisation}}</div>
            </div>
        {% endfor %}     
    {% else %}
        aucun résultat 
    {%endif %}
    <div class="navigation">
        {{ knp_pagination_render(offres) }}
    </div>
</div>