{% extends '::base.html.twig' %}

{% block title %} Offres d'emploi {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
    <link rel="stylesheet" href="{{ asset('css/richtext.min.css') }}">
{% endblock %}

{% block content_title %} Recherche {% endblock %}

{% block content_stitle %} Offres d'emploi {% endblock %}

{% block content %}
    {{ parent() }}
    <div id="content" class="container">
        <div>
            <a href="{{ path('eco_job_anonymous_map') }}">Avec carte de France</a>
            <div class="row">
                <div class="col-sm-3">
                    <form id="searchForm">
                        <div class="form-group">
                            <label class="control-label required" for="searchBar">Mots clés</label>
                            <input size="65" type="text" id="searchBar" class="form-control" name="keywords"
                                   placeholder="Mots clés: lieu ou nom d'une société">
                            <p class="help-block">Ex:"gestion,médecine,lyon,paris,..."</p>
                        </div>
                            <div class="form-group">
                                <label class="control-label required" for="localisation">Localisation</label>
                                <input size="65" type="text" id="localisation" class="form-control" name="localisation"
                                       placeholder="Localisation">  
                            </div>                                                
                        <div class="form-group">
                            <label for="contrat" class="control-label required">Type de contrat:</label>
                            <select name="contrat" id="contrat" class="form-control">
                                <option value="0">Tous</option>
                                {% for c in contrats %}
                                <option value="{{c.id}}">{{c.libelle}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="contrat" class="control-label required">Secteurs d'activités:</label>
                            <select name="secteur" id="secteur" class="form-control">
                                <option value="0">Tous</option>
                                {% for s in secteurs %}
                                <option value="{{s.id}}">{{s.designation}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="limit" class="control-label required">Date de publication :</label>                            
                            <select name="datePublication" id="datePublication" class="form-control">
                                <option value="-1">N’importe quelle date</option>
                                <option value="0">Aujourd'hui</option>
                                <option value="1">2 derniers jours</option>
                                <option value="3">3 derniers jours</option>
                                <option value="7">Les 7 derniers jours</option>
                                <option value="14">Les 14 derniers jours</option>
                                <option value="30">30 derniers jours</option>                               
                           </select>
                        </div>
                        <div class="form-group">
                            <label for="limit" class="control-label required">Nombre d'offre à afficher :</label>
                            <select name="limit" id="limit" class="form-control">
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <input type="hidden" id="offset" name="offset" value="0"/>
                        <button class="btn-default btn1" id="reset">Reset</button>
                    </form>
                </div>
                <div class="col-sm-4 latest_news sroll_search_free" id="offreList">
{% for offre in offres %}
                        <div class="news1" >
                            {% if offre.logo is not null %}           
                               <img class='img-responsive pull-left' height='64px' id="pic" width='64px' src='{{asset('images/users/'~offre.logo.imageName~'')}}'/>                        
                            {% else %}
                                   Pas de logo
                            {% endif %}                            
                            <div class="txt1">Ajoutée le {{offre.createdAt | date('d-m-y')}}</div>

                            <div class="txt2 offre" offreId="{{offre.id}}"><a href="#details">{{offre.titre}}</a></div>
                            <div class="txt3">{{offre.localisation}}</div>
                            <div class="btn-group">
                                {% if not app.user %}
                                    <a href="#details" class="btn btn-default save">
                                        <span class="glyphicon glyphicon-save"></span>
                                    </a>
                                {% else %}
                                    {% if is_granted('ROLE_CANDIDAT') %}

                                        {% if offre.added %}
                                            <a href="#" class="btn-default btn-warning">Déja sauvegardée</a>
                                        {% else %}
                                            <a class="cd-add-to-cart btn btn-default" data-offre-id="{{ offre.id }}">
                                                <span class="glyphicon glyphicon-save"></span>
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ path('eco_job_anonymous_offre_integralite',{ 'id': offre.id ,'localisation': offre.localisation }) }}" target="_blank" class="btn-default btn1">Voir</a>                

                                    {% endif %}
                                {% endif %}

                                <a class="btn btn-default" data-toggle="collapse" href="#collapseExample{{offre.id}}" aria-expanded="false" aria-controls="collapseExample">
                                    <span class="glyphicon glyphicon-share"></span>
                                </a>
                            </div>
                            <div class="collapse" id="collapseExample{{offre.id}}">
                                <div class="card card-block">
                                    <ul class="social clearfix">
                                        <li>
                                            <button class="btn btn-success btn-xs"
                                                    data-url-id={{ offre.id }} data-toggle="modal"
                                                    data-target="#friendModal">Envoyer à un ami <i
                                                        class="fa fa-user"></i></button>
                                        </li>
                                        <li>
                                            <a href="{{ path('eco_job_anonymous_offre_integralite',{id: offre.id,'localisation': offre.localisation}) }}"
                                               class="fb-share"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a class="twitter popup" href="http://twitter.com/share"><i
                                                        class="fa fa-twitter"></i></a></li>
                                        <li>
                                            <script src="//platform.linkedin.com/in.js"
                                                    type="text/javascript"> lang: en_US</script>
                                            <script type="IN/Share"
                                                    data-url="{{ path('eco_job_anonymous_offre_integralite',{ 'id': offre.id,'localisation': offre.localisation }) }}"></script>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>                 
                    {% endfor %}
                </div>
                <div class="cd-cart-container empty">
                    <a href="#0" class="cd-cart-trigger">
                        Cart
                        <ul class="count"> <!-- cart items count -->
                            <li>0</li>
                            <li>0</li>
                        </ul> <!-- .count -->
                    </a>

                    <div class="cd-cart">
                        <div class="wrapper">
                            <header>
                                <h2>Offres sauveguardées</h2>
                                <span class="undo">Item removed. <a href="#0">Undo</a></span>
                            </header>

                            <div class="body">
                                <ul>
                                    <!-- products added to the cart will be inserted here using JavaScript -->
                                </ul>
                            </div>
                        </div>
                    </div> <!-- .cd-cart -->
                </div>
                <div class="col-sm-5" id="details">

                </div>
            </div>
        </div>
    </div>

    <div style="z-index:2016;" class="modal fade " id="globModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Alerte</h4>
                </div>
                <div class="modal-body">
                    Vous devez vous avoir un compte sur eco-job avant de pouvoir sauvegarder ou postuler à une offre
                    d'emploi.
                    Veuillez vous inscrire en cliquant <a href="{{ path('fos_user_registration_register') }}"
                                                          class="btn-default">ici</a>
                    ou vous connecter <a href="{{ path('fos_user_security_login') }}" class="btn-default">ici</a>
                </div>
            </div>
        </div>
    </div>

    <div style="z-index:2016;" class="modal fade " data-backdrop="static" id="friendModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Envoyer à un ami</h4>
                </div>
                <form method="POST" id="friendForm">
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="friendSubject" class="control-label required">E-mail</label>
                                <input type="email" required name="friendEmail" placeholder="Entrez l'adresse E-mail"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12"><label for="friendSubject" class="control-label required">Entrez
                                    quelques phrases d'introduction pour votre ami.</label>
                                    <textarea name="friendContent" id="" rows="5" required
                                              class="form-control"></textarea>

                            </div>
                        </div>
                        <div id="responseStore" class="alert-dismissable"></div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn-default btn1" value="Envoyer à un ami">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% javascripts
    'js/jquery.blockUI.js'
    'js/jquery.debounce.js'
    'js/search_free.js'
'js/search_social_network.js'
    'js/addToCart.js'
'js/jquery.easing.1.3.js'
'js/jquery.richtext.min.js'
'js/sendToFriend.js' filter='uglifyjs2'%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %} 
<script type="text/javascript">
                            var ecojob = false;
                            var cv_pj = false;
                            var lm_pj = false;
                            function enableEco() {
                                if($("#enableEco").is(':checked')){                               
                                    $('#collapseOne').addClass('in');
                                    $('#collapseTwo').removeClass('in');
                                    $('#collapseThree').removeClass('in');
                                    
                                    ecojob = true;
                                }
                                else{
                                    $('#collapseOne').removeClass('in');                                    
                                    ecojob = false;
                                }
                                $('#enableEcoV').val(ecojob);
                            }   
                            function enableCVPJ() {
                                if($("#enableCVPJ").is(':checked')){
                                    $('#collapseTwo').addClass('in');
                                    $('#collapseOne').removeClass('in');
                                    $('#collapseThree').removeClass('in');                                    
                                     cv_pj = true;
                                }
                                else{
                                    $('#collapseTwo').removeClass('in');                                    
                                    cv_pj = false;
                                }
                                $('#enableCVPJV').val(cv_pj);

                            }
                            function enableLMPJ() {
                                $('#collapseThree').addClass('in');
                                if($("#enableLMPJ").is(':checked')){
                                    $('#collapseTwo').removeClass('in');
                                    $('#collapseOne').removeClass('in');                                    
                                     lm_pj = true;
                                }
                                else{
                                     $('#collapseThree').removeClass('in');                                    
                                    lm_pj = false;
                                }
                                $('#enableLMPJ').val(lm_pj);

                            }
                            function isOneChecked(){
                                if($("#enableEco").is(':checked'))
                                    return true;
                                else{
                                    if($("#enableCVPJ").is(':checked'))
                                        return true
                                     else if($("#enableLMPJ").is(':checked'))
                                         return true;
                                     else
                                         return false;
                                 }
                            }
                            function isValid(){
                                if(! (ecojob || cv_pj)){
                                    alert("Veuillez séléctionner le CV qui va accompagner la lettre.");
                                    return false;
                                }
                                if(ecojob){
                                    if($("#collapseOne .alert-warning").length > 0){
                                        alert("Veuillez corriger l'option numero 1 ou modifier votre de demande");
                                        return false;
                                    }
                                }
                                if(cv_pj){
                                    if($("#collapseTwo .alert-warning").length > 0){
                                        alert("Veuillez corriger l'option numero 2 ou modifier votre de demande");
                                        return false;
                                    }
                                }
                                if(lm_pj){
                                    if($("#collapseThree .alert-warning").length > 0){
                                        alert("Veuillez corriger l'option numero 3 ou modifier votre de demande");
                                        return false;
                                    }
                                } 
                                return true;
                            }
                            $(document).on('click', '.postulerC', function () {
                                offreid = $(this).attr('data-offre-id');
                                curr_post = $(this);
                            });

    $(document).on('submit', '#candidatureFormT', function (event) {
        event.preventDefault();
        if (!isOneChecked()) {
            alert("Veuillez choisir votre de méthode de candidature");
            return;
        }
        if(!isValid()){
            return;
        }
        var options = {
            target: '#candidatureFormT', // target element(s) to be updated with server response 
            beforeSubmit: showRequest, // pre-submit callback 
            success: showResponse, // post-submit callback 

            // other available options: 
            url: Routing.generate('eco_job_candidat_trad_post', {id: offreid}),
            type: 'post', // 'get' or 'post', override for form's 'method' attribute 
            dataType: 'json'        // 'xml', 'script', or 'json' (expected server response type) 
                    //clearForm: true        // clear all form fields after successful submit 
                    //resetForm: true        // reset the form after successful submit 

                    // $.ajax options can be used here too, for example: 
                    //timeout:   3000 
        };
        function showRequest(formData, jqForm, options) {
            $.blockUI({
                message: '<p class="loader"></p>',
                css: {border: 'none', backgroundColor: 'transparent', width: '66px', top: ($(window).height() - 100) / 2 + 'px', left: ($(window).width() - 100) / 2 + 'px', }
            });
        }
        function showResponse(responseText, statusText, xhr, $form) {
            if (xhr.status == 200) {
                if (typeof curr_post !== 'undefined') {
                    curr_post.replaceWith("<a href=\"#\" class=\"btn-default btn-warning\">Déja postulé</a>");
                }
                $('#postulerBtn').replaceWith("<a href=\"#\" class=\"btn-default btn-warning\">Déja postulé</a>");

                $('.modal').modal('hide');
            } else {
                alert("Une erreur s'est produite. Connexion au serveur impossible.");
            }
            $.unblockUI();
        }
        $('#candidatureFormT').submit(function (e) {
            e.preventDefault();
            $('#candidatureFormT').ajaxSubmit(options);
            return false;


        });
        $("#candidatureFormT").submit();
    });
                 
                </script> 
{% endblock %}
