<table>
        <tbody>
            <tr>
                <th>Societe qui recrute: </th>
                <td>{{ offre.societe }}</td>
            </tr>
            {% if offre.logo is not null %}           
               <img class='img-responsive pull-left' height='300px' id="pic" width='300px' src='{{asset('images/users/'~offre.logo.imageName~'')}}'/>                        
            {% else %}
                   Pas de logo
           {% endif %}
            <tr>
                <th>Description de l'activité du société: </th>
                <td>{{ offre.descSociete }}</td>
            </tr>            
            <tr>
                <td>{{ offre.titre }}</td>
            </tr>
            <tr>
                <th>Niveau diplôme requis:</th>
                <td>{{ offre.niveauDiplome }}</td>
            </tr>
            <tr>
                <th>Langue(s): </th>
                <td>{{ offre.langues }}</td>
            </tr>
            <tr>
                <th>Description: </th>
                <td>{{ offre.description }}</td>
            </tr>
            <tr>
                <th>Qualités attendues de la part du candidat</th>
                <td>{{ offre.prerequis }}</td>
            </tr>

            <tr>
                <th>Avantages éventuels: </th>
                <td>{{ offre.avantages }}</td>
            </tr>
            <tr>
                <th>Localisation: </th>
                <td>{{ offre.localisation }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{% if offre.createdAt %}{{ offre.createdAt|date('d-m-Y') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>