{% extends "EcoJobAdminBundle::layout.html.twig"%}

{% block title %} Offres d'emploi {% endblock %}

{% block content_title %} Administrateur {% endblock %}

{% block content_stitle %} Offres d'emploi {% endblock %}

{% block scontent %}
    {{parent()}} 

    <div class="latest_news" id="corps">
        <div class="title7">Liste des offres d'emploi du recruteur: {{recruteur}} </div>
        {% for offre in offres %}
            <div class="txt1">Ajouté le {{offre.createdAt | date('d-m-y') }}</div>
            <div class="txt2"><a href="#">{{offre.titre}}</a></div>
            <div class="txt3">{{offre.description}}</div>
            <a href="#corps" onclick="showOffre({{offre.id}})" class="btn-default btn3">Afficher</a>
            <a href="#" class="btn-default btn3 supprimer" offreid="{{offre.id}}">Supprimer</a>    
            {% if not offre.valid %}
                <a href="{{ path('eco_job_admin_recruteur_offre_valider',{'id': offre.id})}}" class="btn-default btn3">Valider</a>                    
            {% else %}
                <div class="label label-success"> Offre déja validée</div>
            {% endif %}
    {% endfor %}       
    </div>
    

    <div style="z-index:2016;" class="modal fade " id="profilModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Alerte</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    

    <div style="z-index:2016;" class="modal fade " id="supModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Alerte</h4>
                </div>
                <div class="modal-body">
                    Valider la suppression?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger validSupprimer" >Supprimer</button>                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>      
    

{% endblock %}  
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        var current_offre = null;
            $(document).on('click', '.supprimer', function () {
                current_offre = $(this).attr('offreid');
                $("#supModal").modal('show');
            });  
            $(document).on('click', '.validSupprimer', function () {
                window.location.href = Routing.generate('eco_job_admin_recruteur_offre_delete', {id: current_offre});
            });
            function showOffre(id){
               $.ajax({
                    type: 'GET',
                    url: Routing.generate('eco_job_admin_recruteur_offre', {id: id}),
                    timeout: 30000,
                    success: function (response) {
                        $('#profilModal .modal-body').children().remove();
                        $('#profilModal .modal-body').append(response.html);
                        $('#profilModal.modal-header h4').text("Offre n° " + id);
                        $('#profilModal').modal('show');
                    },
                    error: function () {
                        alert('La requête n\'a pas abouti');

                    }
                });  
            }        
    
    </script>
{% endblock %}
