{% extends "EcoJobAdminBundle::layout.html.twig"%}

{% block title %} Offre d'emploi {% endblock %}

{% block content_title %} Administrateur {% endblock %}

{% block content_stitle %} Offres d'emploi {% endblock %}

{% block scontent %}   
    <div class="latest_news">
        <div class="title7">Offre numero {{offre.id}}</div>
        <div class="news1">
            <div class="txt1">Ajouté le {{offre.createdAt | date('d-m-y') }}</div>
            <div class="txt2"><a href="#">{{offre.titre}}</a></div>
            <div class="txt3">{{offre.description}}</div>
            <a href="{{ path('eco_job_admin_recruteur_offre_reference',{'id': offre.id})}}" class="btn-default btn3">Ajouter référence/Modifier</a>                                
            <a href="{{ path('eco_job_admin_recruteur_offre_delete',{'id': offre.id})}}" class="btn-default btn3">Supprimer</a>    
             {% if not offre.suspendu %}
                {% if not offre.valid %}                    
                    <a href="{{ path('eco_job_admin_recruteur_offre_valider',{'id': offre.id})}}" class="btn-default btn3">Valider</a>                    
                    <div class="label label-warning"> Offre pas encore validée</div>     
                 {% else %}
                    <a href="{{ path('eco_job_admin_suspendre',{'id': offre.id})}}" class="btn-default btn3">Suspendre</a>
                    <div class="label label-success"> Offre déja validée</div>
                {% endif %}
            {% else %}
                 <a href="{{ path('eco_job_admin_republier',{'id': offre.id})}}" class="btn-default btn3">Republier</a>
                 <div class="label label-warning"> Offre est suspendu </div>
            {% endif %}                
        </div>

    </div>

    {{parent()}} 

{% endblock %}  
