{% extends '::base.html.twig' %}
{% block title %}{% endblock %}
{% block content_stitle %} Administration {% endblock %}
{% block content %} 
    {{parent()}} 
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="latest_news">
                        <div class="title7">Administration side bar</div>
                        <a href="{{path('eco_job_admin_users')}}"> Liste des nouveaux utilisateurs ({{app.session.get('newUsers')}}) </a>                        
                        <br><a href="{{path('eco_job_admin_offres')}}"> Offres en attentes de validation ({{app.session.get('notvalided')}})</a> 
                         <br><a href="{{path('eco_job_admin_offres_expirer')}}"> Offres exprirés ({{app.session.get('expired')}})</a>
                         <br><a href="{{path('eco_job_admin_offres_edited')}}"> Offres modifiées et en attente de validation ({{app.session.get('modified')}})</a>
                        <br><a href="{{path('eco_job_admin_offres_categorie')}}"> Secteur d'activité</a> 
                        <br><a href="{{path('eco_job_admin_users_dashoard')}}"> Utilisateurs ({{app.session.get('users')}}) </a>
                        <br><a href="{{path('eco_job_admin_offres_all')}}"> Toutes les Offres ({{app.session.get('offres')}}) </a>
                        <br><a href="{{path('eco_job_admin_recruteur_dashoard')}}"> Recruteurs et banque de CV </a>                        
                    </div>
                </div>                
                <div class="col-sm-8">
                    {% block scontent %}
                    <div class="title6">Contenu pour un administrateur</div>
                {% endblock %}    
                </div>
            </div>
        </div>
    </div>
{% endblock %}                