    <div class="team1 clearfix">
        <figure><img src="{{ vich_uploader_asset(user.curriculum, 'imageFile') }}" alt="{{ user.curriculum.nom }}" class="img-responsive" height="200px" width="200px" /></figure>
        <div class="caption">
            <div class="txt1">{{user.curriculum.nom}} {{user.curriculum.prenom}}</div>
            <div class="txt2">{{user.curriculum.telephone}}</div>
            <div class="txt3">{{user.curriculum.about}}</div>
        </div>
    </div>