{% extends "EcoJobAdminBundle::layout.html.twig"%}
{% block title %} Espace administration {% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/dataTables.bootstrap.min.css')}}">  
     <style type="text/css">
        .clear { clear: both; }
        #page-wrap { width: 800px; margin: 40px auto 60px; }
        #pic { float: right; margin: -30px 0 0 0; }
p { margin: 0 0 16px 0; }
        ul { margin: 0 0 32px 17px; }
        #objective { width: 500px; float: left; }
        #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
        dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
        dd { width: 600px; float: right; }
        dd.clear { float: none; margin: 0; height: 15px; }
     </style>       
{% endblock %}

{% block content_title %} Administrateur {% endblock %}

{% block content_stitle %} {{parent()}} Liste des utilisateurs{% endblock %}


{% block scontent %}   
    {{parent()}} 
    <table id="userTable" class="table table-striped jambo_table bulk_action dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr role="row">
                <th>Id</th>                
                <th>Nom</th>
                <th>E-mail</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>                
                <th>Nom</th>
                <th>E-mail</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table> 
    <div style="z-index:2016;" class="modal fade " id="globModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Alerte</h4>
                </div>
                <div class="modal-body">
                    Etes-vous sûr de vouloir supprimer cet utilisateur?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary valider">Valider</button>
                </div>            
            </div>
        </div>
    </div> 
    <div style="z-index:2016;" class="modal fade " id="profilModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Alerte</h4>
                </div>
                <div class="modal-body">
                    Profil
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>            
            </div>
        </div>
    </div>    
{% endblock %}  
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('js/jquery.blockUI.js')}}"></script>     
    <script src="{{ asset("js/jquery.dataTables.min.js")}}"></script>    
    <script src="{{ asset("js/dataTables.bootstrap.min.js")}}"></script>
    <script src="{{asset('js/fnReloadAjax.js')}}"></script>
    <script> var table = "";</script>
    <script src="{{asset('js/user.js')}}"></script>
{% endblock %}