<form novalidate class="form-horizontal"  id="langueForm" method="post" {{ form_enctype(form) }}>
    <a class="btn btn1" data-toggle="collapse" href="#langue"
       aria-expanded="false" aria-controls="langue">Langue <span class="fa fa-caret-down"></span></a>
    <div class="collapse" id="langue">
        {% if langues is defined  %}
        Langues:            
            {% for langue in langues %}
                <div id="langue{{langue.id}}">
                {{langue.langue}}-{{langue.niveau}}
                <a href="#langued" class="btn btn1 btn editLangue" langueId="{{langue.id}}">Modifier</a>
                <a href="#langued" class="btn btn1 deletelangue" langueId="{{langue.id}}">Supprimer</a>                
                </div>
            {% endfor %}
            {{ form_widget(form) }}
            <button type="submit" class="btn-default btn-cf-submit">Ajouter cette langue</button>
            <button type="reset" class="btn-default btn-cf-submit">Annuler</button>
            {{ form_end(form) }}             
        {% else %}        
            {{ form_widget(form) }}
            <button type="submit" class="btn-default btn-cf-submit">Valider cette langue</button>
            <button type="reset" class="btn-default btn-cf-submit">Annuler</button>
            {{ form_end(form) }}    
        {% endif %} 
    </div>
