{% extends "EcoJobCandidatBundle::layout.html.twig" %}

{% block title %} Mes offres{% endblock %}

{% block content_title %} Candidat {% endblock %}

{% block content_stitle %} Les offres d'emploi sauvegardées {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/richtext.min.css') }}">
{% endblock %}

{% block scontent %}
    {{ parent() }}

    <div class="latest_news">
        <div class="title7">Liste des offres d'emploi sauvegardées</div>
        {% if offres is not empty %}
            Total {{ offres|length }}
            {% for offre in offres %}

                <div class="news1">
                    <div class="txt2"><a
                            href="{{ path('eco_job_candidat_offre',{'id': offre.id,'localisation': offre.localisation}) }}">{{ offre.titre }}</a>
                    </div>
                    <div class="txt1">Ajoutée le {{ offre.createdAt | date('d-m-y') }}</div>
                    <div class="txt3">{{ offre.description }}</div>
                    <a href="{{ path('eco_job_candidat_offre',{'id': offre.id,'localisation': offre.localisation}) }}"
                       class="btn-default btn3">Afficher</a>
                    {% if offre.added %}
                        <a href="#" class="btn-default btn-warning">Déja postulé</a>
                    {% else %}
                        <button class="btn-default btn3 postulerC" id="postulerBtn" data-offre-id="{{ offre.id }}" data-offre-titre="{{ offre.titre }}" type="button" data-toggle="modal"
                                data-target="#m-m-u">Postuler
                        </button>
                    {% endif %}
                    <a href="{{ path('eco_job_candidat_offre_delet',{'id': offre.id}) }}" class="btn-default btn3">Supprimer</a>
                    {% if offre.expired %}
                        <div class="label label-warning"> Offre est expirée</div>
                    {% endif %}
                </div>


            {% endfor %}
        {% else %}
            aucune offre sauvegardée
        {% endif %}

    </div>
</div>
<div id="m-m-u" class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                </h4>
            </div>
            
            <div class="modal-body">
                <div id="type">
                    <input type="checkbox"  id="enableEco" onclick="enableEco();" /> Utiliser le CV optimisé ecojob
                    <br/>
                    <input type="checkbox"  id="enableCVPJ" onclick="enableCVPJ()"  /> Envoyer un des CV téléchargés en pièce jointe
                    <br/>
                    <input type="checkbox"  id="enableLMPJ" onclick="enableLMPJ()"  /> Choisir une des lettres téléchargées 

                </div>                
                {{ form_start(tform) }}
                    <input type="hidden" name="enableEco" id="enableEcoV"  /> 
                    <br/>
                    <input type="hidden" name="enableCVPJ" id="enableCVPJV" /> 
                    <br/>
                    <input type="hidden" name="enableLMPJ" id="enableLMPJV"/>
             
                <div class='collapse' id="collapseOne">
                    {% if app.user and app.user.curriculum is not null %}
                        {% set cv = app.user.curriculum %} 
                        {% if (cv.etatCivil is not null and cv.image is not null and 
                                    cv.formations | length > 0 and cv.experiences | length > 0 and cv.competences | length > 0
                                            and cv.langues | length > 0) %}
                            <hr>
                        {% else %}
                            <div class="alert alert-warning">
                                Vous n'avez pas encore fini de remplir votre <a
                                    href="{{ path('eco_job_candidat_gerercv') }}">CV</a> , veuillez le remplir avant
                                d'Envoyer votre candidature.
                            </div>                        
                        {% endif %}
                    {% else %}
                        {% if app.user and app.user.curriculum is not null %}
                            <div class="alert alert-warning">
                                Vous n'avez pas encore fini de remplir votre <a
                                    href="{{ path('eco_job_candidat_gerercv') }}">CV</a> , veuillez le remplir avant
                                d'Envoyer votre candidature.
                            </div>
                        {% else %}
                            <div class="alert alert-warning">
                                Vous n'avez pas encore fini de remplir votre <a
                                    href="{{ path('eco_job_candidat_cv_fill') }}">CV</a> , veuillez le remplir avant
                                d'Envoyer votre candidature.
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div id='collapseTwo' class="collapse">
                    {% if app.user.cvs | length > 0 %}
                        <div class="form-group row">
                            <div class="col-lg-10">
                                {{ form_row(tform.cvfichier) }}
                            </div>
                        </div>                         
                    {% else %}
                        <div class="form-group row">
                            <div class="col-lg-10">
                                {{ form_row(tform.cvfichier, { 'attr': {'class': 'hidable'} }) }} 
                            </div>
                        </div>                         
                        <div class="alert alert-warning">
                            Vous n'avez pas encore envoyé un CV.
                        </div>                          
                    {% endif %}

                </div>
                <div id='collapseThree' class="collapse">
                    {% if app.user.lettres | length > 0 %}
                        <div class="form-group row">
                            <div class="col-lg-10">
                                {{ form_row(tform.lettre) }}
                            </div>
                        </div>                         
                    {% else %}
                        <div class="form-group row">
                            <div class="col-lg-10">
                                {{ form_row(tform.lettre, { 'attr': {'class': 'hidable'} }) }} 
                            </div>
                        </div> 
                        <div class="alert alert-warning">
                            Vous n'avez pas encore envoyé une lettre.
                        </div>                          
                    {% endif %}

                </div>   
                <div class="form-group row">
                    <div class="col-lg-10">
                        {{ form_row(tform.description) }}
                    </div>
                </div>    
                <hr>
                <div class="form-group row">
                    <div class="col-md-5 pull-right">
                        <button type="submit" class="btn-default btn1" value="">Envoyer ma candidature</button>
                        <button type="button" class="btn btn-default btn4" data-dismiss="modal">Fermer</button>
                    </div>
                </div>                      
                {{form_end(tform)}}             
            </div>
        </div>
    </div>
</div>
                {% endblock %}  
                    {% block javascripts %}
                        {{ parent() }}
                        <script type="text/javascript">
                            var ecojob = false;
                            var cv_pj = false;
                            var lm_pj = false;
                            var offreid = 0;
                            
                            function enableEco() {
                                if($("#enableEco").is(':checked')){                               
                                    $('#collapseOne').addClass('in');
                                    $('#collapseTwo').removeClass('in');
                                    $('#collapseThree').removeClass('in');
                                    
                                    ecojob = true;
                                }
                                else{
                                    $('#collapseOne').removeClass('in');                                    
                                    ecojob = false;
                                }
                                $('#enableEcoV').val(ecojob);
                            }   
                            function enableCVPJ() {
                                if($("#enableCVPJ").is(':checked')){
                                    $('#collapseTwo').addClass('in');
                                    $('#collapseOne').removeClass('in');
                                    $('#collapseThree').removeClass('in');                                    
                                     cv_pj = true;
                                }
                                else{
                                    $('#collapseTwo').removeClass('in');                                    
                                    cv_pj = false;
                                }
                                $('#enableCVPJV').val(cv_pj);

                            }
                            function enableLMPJ() {
                                $('#collapseThree').addClass('in');
                                if($("#enableLMPJ").is(':checked')){
                                    $('#collapseTwo').removeClass('in');
                                    $('#collapseOne').removeClass('in');                                    
                                     lm_pj = true;
                                }
                                else{
                                     $('#collapseThree').removeClass('in');                                    
                                    lm_pj = false;
                                }
                                $('#enableLMPJ').val(lm_pj);

                            }
                            function isOneChecked(){
                                if($("#enableEco").is(':checked'))
                                    return true;
                                else{
                                    if($("#enableCVPJ").is(':checked'))
                                        return true
                                     else if($("#enableLMPJ").is(':checked'))
                                         return true;
                                     else
                                         return false;
                                 }
                            }
                            function isValid(){
                                if(ecojob){
                                    if($("#collapseOne .alert-warning").length > 0){
                                        alert("Veuillez corriger l'option numero 1 ou modifier votre de demande");
                                        return false;
                                    }
                                }
                                if(cv_pj){
                                    if($("#collapseTwo .alert-warning").length > 0){
                                        alert("Veuillez corriger l'option numero 2 ou modifier votre de demande");
                                        return false;
                                    }
                                }
                                if(lm_pj){
                                    if($("#collapseThree .alert-warning").length > 0){
                                        alert("Veuillez corriger l'option numero 3 ou modifier votre de demande");
                                        return false;
                                    }
                                } 
                                return true;
                            }
                            $(document).on('click', '.postulerC', function () {
                                offreid = $(this).attr('data-offre-id');
                                curr_post = $(this);
                            });

                        </script>    
                        <script src="{{ asset('js/jquery.blockUI.js') }}"></script>
                        <script src="{{ asset('js/jquery.richtext.min.js') }}"></script>
                        <script src="{{ asset('js/cdt-postuler_formulaire.js') }}"></script>
                    {% endblock %}


