{% extends "EcoJobCandidatBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
  <link href="{{ path('captcha_layout_stylesheet_url') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Paramètre{% endblock %}

{% block content_title %}Paramètre {% endblock %}

{% block content_stitle %}Paramètre{% endblock %}

{% block scontent %}
{{parent()}}
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="title4">Alerte email</div>
          <br>
          <div class="txt2">Cochez les secteurs d'activités aux quels vous voulez vous abonner.<br/> Dès qu'une offre
          correspond aux secteurx cochés, on vous avertira par email.
          </div>               
          <div id="fields">
             <form novalidate class="form-horizontal"  method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form.categorie) }}
                <button type="submit" class="btn-default btn-cf-submit">Sauvegarder</button>
                <a  class="btn-default btn-cf-submit" href="{{ path('eco_job_candidat_reset_param') }}">Réinitialiser</a>
            {{ form_end(form) }}                       
          </div>
      </div>
    </div>
   </div>
</div>
      
{% endblock scontent %}
{% block javascripts %}
    {{parent()}}    
    <script type="text/javascript" src="{{asset('js/candidat.js')}}"></script>    
{% endblock %}