{% extends "EcoJobCandidatBundle::layout.html.twig"%}
{% block title %} Mon CV {% endblock %}

{% block content_title %} Candidat {% endblock %}

{% block content_stitle %} CV & Lettres{% endblock %}

{% block scontent %}   
    {{parent()}} 

    <div class="col-sm-6" id="cv">
        <div class="title6">CV</div>
        
        {% for file in app.user.cvs %}
            <div id="cv{{file.id}}">
                {{file.titre}}
                <a href="#cvC" class="btn btn1 btn editCV" cvId="{{file.id}}">Changer le CV</a>
                <a href="#cvC" class="btn btn1 btn deleteCV" cvId="{{file.id}}">Supprimer</a>                    
            </div>            
        {% endfor %}
        <a class="btn btn-default" data-toggle="collapse" href="#addCV"
           aria-expanded="false" aria-controls="collapseExample">
            Ajouter un CV
        </a>        
        <div class="collapse" id="addCV">
            {{ form_start(cvform) }}
            {{ form_widget(cvform) }}
            <button type="submit" id="cvForm" class="btn-default btn-cf-submit">Valider </button>
            {{ form_end(cvform) }} 
        </div>         
    </div> 
    <div class="col-sm-6" id="lettre">
        <div class="title6">Lettre</div>        
        
        {% for file in app.user.lettres %}
            <div id="lettre{{file.id}}">
                {{file.titre}}
                <a href="#lettreC" class="btn btn1 btn editLettre" lettreId="{{file.id}}">Changer la lettre</a>
                <a href="#lettreC" class="btn btn1 btn deleteLettre" lettreId="{{file.id}}">Supprimer</a>                    
            </div>            
        {% endfor %}
        <a class="btn btn-default" data-toggle="collapse" href="#addLettre"
           aria-expanded="false" aria-controls="collapseExample">
            Ajouter une lettre
        </a>        
        <div class="collapse" id="addLettre">
            {{ form_start(lform) }}
            {{ form_widget(lform) }}
            <button type="submit" id="cvForm" class="btn-default btn-cf-submit">Valider </button>
            {{ form_end(lform) }} 
        </div>         
    </div>
</div> 
    <div style="z-index:2016;" class="modal fade " id="supCVModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Alerte</h4>
                </div>
                <div class="modal-body">
                    Valider la suppression de ce CV?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary validerSupCV">Valider</button>
                </div>            
            </div>
        </div>
    </div>
    <div style="z-index:2016;" class="modal fade " id="supLettreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Alerte</h4>
                </div>
                <div class="modal-body">
                    Valider la suppression de cette lettre?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary validerSupLettre">Valider</button>
                </div>            
            </div>
        </div>
    </div>
{% endblock %}  
{% block javascripts %}
    {{parent()}}    
    <script type="text/javascript" src="{{ asset('js/jquery.blockUI.js') }}"></script>    
    <script type="text/javascript" src="{{ asset('js/cvlettre.js') }}"></script> 
    
    <script type="text/javascript">
        var cv_id = 0;
        var lettre_id = 0;
       
    $(document).on('click', '.deleteCV', function () {
        cv_id = $(this).attr('cvId');
        $("#supCVModal").modal('show');
    });  
    $(document).on('click', '.validerSupCV', function () {
        $.ajax({
            type: 'POST',
            url: Routing.generate('eco_job_candidat_delete_cv_fichier', {id: cv_id}),
            timeout: 30000,
            beforeSend: function () {
                $.blockUI({
                    message: '<p class="loader"></p>',
                    css: {border: 'none', backgroundColor: 'transparent', width: '66px', top: ($(window).height() - 100) / 2 + 'px', left: ($(window).width() - 100) / 2 + 'px', }
                });
            },
            success: function (response) {
                $("#cv"+cv_id).remove();
                $('#supCVModal').modal('hide');
            },
            error: function () {
                alert('La requête n\'a pas abouti');
            },
            complete: function () {
                $.unblockUI();
            }
        });
    });   
    
       
    $(document).on('click', '.deleteLettre', function () {
        lettre_id = $(this).attr('lettreId');
        $("#supLettreModal").modal('show');
    });  
    $(document).on('click', '.validerSupLettre', function () {
        $.ajax({
            type: 'POST',
            url: Routing.generate('eco_job_candidat_delete_lettre', {id: lettre_id}),
            timeout: 30000,
            beforeSend: function () {
                $.blockUI({
                    message: '<p class="loader"></p>',
                    css: {border: 'none', backgroundColor: 'transparent', width: '66px', top: ($(window).height() - 100) / 2 + 'px', left: ($(window).width() - 100) / 2 + 'px', }
                });
            },
            success: function (response) {
                $("#lettre"+lettre_id).remove();
                $('#supLettreModal').modal('hide');
            },
            error: function () {
                alert('La requête n\'a pas abouti');
            },
            complete: function () {
                $.unblockUI();
            }
        });
    });       
    </script>
{% endblock %}