{% extends "EcoJobCandidatBundle::layout.html.twig"%}
{% block stylesheets %}
    {{parent()}}
     <style type="text/css">
        .clear { clear: both; }
        #page-wrap { width: 800px; margin: 40px auto 60px; }
        #pic { float: right; margin: -30px 0 0 0; }
p { margin: 0 0 16px 0; }
        ul { margin: 0 0 32px 17px; }
        #objective { width: 500px; float: left; }
        #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
        dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
        dd { width: 600px; float: right; }
        dd.clear { float: none; margin: 0; height: 15px; }
     </style>    
{% endblock %}
{% block title %} Mon CV {% endblock %}

{% block content_title %} Candidat {% endblock %}

{% block content_stitle %} Mon CV {% endblock %}

{% block scontent %}   
    {{parent()}} 

    <div class="title6">Mon CV </div>
        <div class="col-sm-9">     

    {% if cv.cvFile is not null %}
        <a href='{{asset('cv/'~cv.cvFile.cvName~'')}}' target='_blank'>Aperçu du CV envoyé </a>            
    {% endif %}
        {% if (cv.etatCivil is not null or cv.cvFile is not null or cv.image is not null or 
        cv.formations | length > 0 or cv.experiences | length > 0 or cv.competences | length > 0
                or cv.langues | length > 0) %}     
    <div id="page-wrap">
    
        {% if cv.image is not null %}           
           <img class='img-responsive' height='400px' id="pic" width='400px' src='{{asset('images/users/'~cv.image.imageName~'')}}'/>                        
        {% else %}
               Aucune photo
       {% endif %}
    
        <div id="contact-info" class="vcard">
        {% if cv.etatCivil is not null %}
            <!-- Microformats! -->
        
            <h1 class="fn">{{cv.etatCivil.nom}} {{cv.etatCivil.prenom}}</h1>
        
            <p>
                Nom: <span class="tel">{{cv.etatCivil.nom}}</span><br>
                Prénom: <span class="tel">{{cv.etatCivil.prenom}}</span><br>
                Téléphone mobile: <span class="tel">{{cv.etatCivil.telephone}}</span><br>
                Téléphone fix: <span class="tel">{{cv.etatCivil.telephoneFixe}}</span><br>
                
                Email: <a class="email" href="{{cv.etatCivil.email}}">{{cv.etatCivil.email}}</a>
            </p>
        </div>
                
        <div id="objective">
            <p>
                A propos
            </p>
        </div>
        {% endif %}
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            {% if cv.formations is not null %}
            <dt>Formations</dt>
            {% for form in cv.formations %}
                
            <dd>
                <h2>{{form.anneeObtention}}: {{form.intituleDiplome}}</h2>
                <p><strong>Spécialisation:</strong> {{form.specialisation}}<br>
                   <strong>Lieu:</strong> {{form.lieu}}
                   <strong>Etablissement:</strong> {{form.etablissement}}                
                   <strong>Niveau:</strong> {{form.niveau}}
                   {% if form.formationEtranger %}
                   <strong>Formation effectuée à l'étranger</strong> 
                   {% endif %}
                </p>
            </dd>
            {% endfor %}
            {% endif %}
            <dd class="clear"></dd>
            {% if cv.competences is not null %}
            <dt>Compétences</dt>
            <dd>
                <h2>Compétences en informatique</h2>
                <ul>
                {% for competence in cv.competences %}
                    <li>{{competence.informatique}}</li>
                {% endfor %}
                </ul>
                <h2>Autres compétences</h2>
                <ul>
                {% for competence in cv.competences %}
                    <li>{{competence.autres}}</li>
                {% endfor %}
                </ul>
            </dd>
            {% endif %}
            <dd class="clear"></dd>
            {% if cv.experiences is not null %}
            <dt>Experience</dt>
            <dd>
                {% for exp in cv.experiences %}
                
                <h2>{{exp.poste}} <span> {{exp.societe}}- {{exp.localisation}}, {{exp.dateDebut|date('d-m-y')}}-{{exp.dateFin|date('d-m-y')}}</span></h2>
                <ul>
                    <li><strong>Zone de prospéction:</strong>{{exp.zoneProspection}}</li>
                    <li><strong>Rémunération: </strong>{{exp.remuneration}}</li>
                    <li><strong>Type de la clientèle:</strong>{{exp.typeClientele}}</li>
                    <li><strong>Secteur d'activité:</strong> {{exp.secteurActivite}}</li>
                    <li><strong>Fonction: </strong>{{exp.fonction}}</li>
                    <li><strong>Détails de la mission: </strong> {{exp.detailsMission}}</li>
                    
                </ul>
                {% endfor %}
            </dd>
            
            {% endif %}
            <dd class="clear"></dd>
            {% if cv.langues is not null %}
            <dt>Langues</dt>
            <dd>
                {% for l in cv.langues %}
                
                <h2>Langue: {{l.langue }} <span>Niveau: {{l.niveau}}</span></h2><br/>

                {% endfor %}
            </dd>
            {% endif %}
        </dl>
        
        <div class="clear"></div>
    
    </div> 
        </div>
        <div class="col-sm-3">
            <ul style="list-style: none;">
                {% if cv is not null %}
                {% if (cv.etatCivil is not null or cv.cvFile is not null or cv.image is not null or 
                cv.formations | length > 0 or cv.experiences | length > 0 or cv.competences | length > 0
                        or cv.langues | length > 0) %}            
                    <li><a href="#" data-toggle="modal" data-target="#newModal"> Créer un nouveau CV</a></li>
                {% else %}
                    <li><a href="{{path('eco_job_candidat_cv_fill')}}"> Créer un nouveau CV</a></li>        
                {% endif %}
                <li><a href="{{ path('eco_job_candidat_cv_edit')}}" >Modifier</a></li>
                <li><a href="#"  data-toggle="modal" data-target="#supModal"> Supprimer</a></li>  
                <li><a href="{{path('eco_job_candidat_cv_show')}}"> Voir mon CV</a></li>

                {% if (cv.etatCivil is null or cv.cvFile is null or cv.image is null or cv.formations is null or cv.experiences is null or cv.competences is null
                        or cv.langues is null) %}
                <li><a href="#" data-toggle="modal" data-target="#globModal">Activer la publication de mon CV </a></li>
                {% else %}                
                    {% if cv.showable %}
                        <li><a href="{{path('eco_job_candidat_gerercv_stop',{'id': cv.id})}}"> Suspendre la banque de CV</a></li>
                    {% else %}
                        <li><a href="{{path('eco_job_candidat_gerercv_stop',{'id': cv.id})}}"> Activer la publication de mon CV</a></li>                
                    {% endif %}
                    {% endif %}

                {% else %}
                    <li><a href="{{path('eco_job_candidat_cv_fill')}}"> Créer mon nouveau CV</a></li>            

                {% endif %}
            </ul>
       </div>        
        {% else %}           
        <div class="team1 clearfix">
                {% if cv is not null %}
                {% if (cv.etatCivil is not null or cv.cvFile is not null or cv.image is not null or 
                cv.formations | length > 0 or cv.experiences | length > 0 or cv.competences | length > 0
                        or cv.langues | length > 0) %}            
                    <a href="#" data-toggle="modal" data-target="#newModal"> Créer un nouveau CV</a>
                {% else %}
                    <a href="{{path('eco_job_candidat_cv_fill')}}"> Créer un nouveau CV</a>        
                {% endif %}
                <a href="{{ path('eco_job_candidat_cv_edit')}}" >Modifier</a>
                <a href="#"  data-toggle="modal" data-target="#supModal"> Supprimer</a>  
                <a href="{{path('eco_job_candidat_cv_show')}}"> Voir mon CV</a>

                {% if (cv.etatCivil is null or cv.cvFile is null or cv.image is null or cv.formations is null or cv.experiences is null or cv.competences is null
                        or cv.langues is null) %}
                <a href="#" data-toggle="modal" data-target="#globModal">Activer la publication de mon CV </a>
                {% else %}                
                    {% if cv.showable %}
                        <a href="{{path('eco_job_candidat_gerercv_stop',{'id': cv.id})}}"> Suspendre la banque de CV</a>
                    {% else %}
                        <a href="{{path('eco_job_candidat_gerercv_stop',{'id': cv.id})}}"> Activer la publication de mon CV</a>                
                    {% endif %}
                    {% endif %}

                {% else %}
                    <a href="{{path('eco_job_candidat_cv_fill')}}"> Créer mon nouveau CV</a>            

                {% endif %}
           </div>            
        {% endif %}
                    <div style="z-index:2016;" class="modal fade " id="globModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Alerte</h4>
                                </div>
                                <div class="modal-body">
                                    Vous devez remplir complètement votre CV avant de pouvoir activer la publication de votre CV.
                                </div>
                            </div>
                        </div>
                    </div>
    <div style="z-index:2016;" class="modal fade " id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Alerte</h4>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment créer un nouveau CV? Votre CV courant sera effacé.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary validerNew">Valider</button>
                </div>            
            </div>
        </div>
    </div> 
    <div style="z-index:2016;" class="modal fade " id="supModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Alerte</h4>
                </div>
                <div class="modal-body">
                    Valider la suppression de votre CV?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary validerDelete">Valider</button>
                </div>            
            </div>
        </div>
    </div>            
{% endblock %}  
{% block javascripts %}
    {{parent()}}    
    <script type="text/javascript">
    $(document).on('click', '.validerDelete', function () {
        window.location.href= "{{ path('eco_job_candidat_cv_delete')}}";
    });
    $(document).on('click', '.validerNew', function () {
        window.location.href= "{{path('eco_job_candidat_cv_fill')}}";
    });    
    </script>
{% endblock %}